extends layout.pug

block content
  #top_banner
    #title.mdc-typography--headline4 Quote Generator
  #banner
  #container.mdc-elevation--z2
    #top_content
      #category.mdc-select
        select.mdc-select__native-control.mdc-list
          option.mdc-list-item(value='' disabled='' selected='')
          option.mdc-list-item(value='love') Love
          option.mdc-list-item(value='life') Life
          option.mdc-list-item(value='inspirational') Inspirational
          option.mdc-list-item(value='motivation') Motivation
          option.mdc-list-item(value='humorous') Humorous
          option.mdc-list-item(value='philosphical') Philosophical
          option.mdc-list-item(value='wisdom') Wisdom
          option.mdc-list-item(value='happy') Happy
          option.mdc-list-item(value='sad') Sad

        label.mdc-floating-label Category
    #quote.mdc-typography--body1
